@import "tailwindcss";

:root {
  /* b */
  --background: #ffffff;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --background-blank: whitesmoke;
  --background-color-highlight: #f3f4f6;
  --border: 1px solid #dee2e6
    /* f */
    --foreground: #171717;
  /* m */
  --max-width: calc(100vw - 200px);
  --max-width-content: calc(var(--max-width) - calc(var(--size-medium) * 2));
  /* s */
  --size-ultra-large: 64px;
  --size-extra-large: 32px;
  --size-large: 24px;
  --size-medium: 16px;
  --size-small: 8px;
  --size-extra-small: 4px;
  --size-ultra-small: 2px;
  /* t */
  --text-color-primary: #1a1a1a;
  --text-color-secondary: #6b7280;
  --text-color-disable: #9ca3af;
  --text-color-danger: #e74c3c;
  --text-color-highlight: #4b5563;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    --background-blank: #1e1e1e;
    --background-color-highlight: #2a2a2a;
    --border: 1px solid #2e2e2e;

    --foreground: #f5f5f5;

    --max-width: 960px;
    --max-width-content: calc(var(--max-width) - calc(var(--size-medium) * 2));

    --size-ultra-large: 64px;
    --size-extra-large: 32px;
    --size-large: 24px;
    --size-medium: 16px;
    --size-small: 8px;
    --size-extra-small: 4px;
    --size-ultra-small: 2px;

    --text-color-primary: #f3f4f6;
    --text-color-secondary: #d1d5db;
    --text-color-disable: #6b7280;
    --text-color-danger: #f87171;
    --text-color-highlight: #9ca3af;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}