/* AppHeader.module.css */

.header {
    width: 100%;
    background-color: var(--background);
    box-shadow: var(--box-shadow);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
}

.headerInner {
    width: 100%;
    height: var(--size-ultra-large);
    max-width: var(--max-width);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: var(--size-large);
    margin-left: var(--size-medium);
}

.menuButton {
    font-size: var(--size-large);
    margin-right: var(--size-medium);
}

.desktopMenu {
    border-bottom: none;
}